/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav img {
  width: 100%;
}

nav a {
  color: white !important;
}

.search {
  position: absolute !important;
  top: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 7 !important;
  padding: 0 30px;
  text-align: center;
}

.weather {
  background-image: url(../images/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  border: white !important;
  padding: 10px;
}

.card {
  color: white;
}

.first,
.end {
  background-color: #323544;
}

footer {
  color: white;
}

footer ::placeholder {
  color: white !important;
}

input {
  color: white !important;
}

.weather input {
  border: #323544;
}

.conditionText {
  color: #208ed8;
}

@media screen and (max-width: 768px) {
  .end,
  .tomorrow {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .tomorrow {
    display: none;
  }
}
